@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #ffffff;
  --primary-dark: #8b8885;
  --primary-bg-dark: #ccc9c5;
  --primary-accent-light: #bcd0e0;
  --primary-accent-lightest: #f0f5f9;
  --primary-accent-dark: #5992c6;
  --primary-white: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: #071a43;
    --primary-light: #eceeff;
  }
} */

body {
  color: var(--primary-dark);
  background: var(--primary-dark);
  font-family: Instrument Serif,Adjusted Georgia Fallback,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
}

.nav-img {
  height: 100%;
}

/* .nav-link {
  color: var(--primary-light);
} */

.border-plight {
  border-color: var(--primary-accent-light);
}

.border-plight:hover {
  border-color: var(--primary-light);
}

.border-pdark {
  border-color: var(--primary-dark);
}

.border-accent-dark {
  border-color: var(--primary-accent-dark);
}

.border-accent-light {
  border-color: var(--primary-accent-light);
}

.background-pdark {
  background-color: var(--primary-dark);
}

.background-pmd {
  background-color: var(--primary-dark);
}

.background-plight {
  background-color: var(--primary-light);
}

.background-accent-lightest {
  background-color: var(--primary-accent-lightest);
}

.background-accent-dark {
  background-color: var(--primary-accent-dark);
}

.background-accent-light {
  background-color: var(--primary-accent-light);
}

.dark-shadow {
  --tw-shadow-color: var(--primary-dark);
}

.custom-button {
  background: var(--primary-white);
  color: var(--primary-dark);
}

.custom-button:hover {
  background: var(--primary-accent-dark);
  color: var(--primary-light);
}

.section-pwhite {
  background: var(--primary-light);
  color: var(--primary-dark);
}

.nav-link {
  color: var(--primary-accent-light);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-accent-dark);
}

.custom-icon {
  color: var(--primary-accent-light);
  transition: color 0.3s ease;
}

.custom-icon:hover {
  color: var(--primary-accent-dark);
}

@layer components {
  .btn-secondary {
    @apply rounded-md
           border
           px-2
           py-1
           transition-colors;
  }

  .card-hover {
    @apply transition-all
           hover:translate-x-1
           hover:-translate-y-1;
  }
}